.navbar{
    height: 80px;
    width: 100%;
    position: sticky;
    background-color: rgb(16, 16, 16);
    display: flex;
    z-index: 1;
}

.navbar-item
{
    display: flex;
    justify-content: start;
    font-size: 2rem;
    letter-spacing: 0.1cm;
    color: white;
    padding: 10px;
    margin: 0 3%;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
}