.container{
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.info-container{
    width: 100%;
    left: 10;
    display: flex;
    margin-top: 20px;
    z-index: 1;
}

.selectBox{
    /* position: "absolute"; */
    /* right: 100px;
    top: 250px; */
    /* text-align: "center";
    width: 400px;
    color: "#05386B";
    background: "#8EE4AF"; */
}

.back-button{
    /* position: "absolute"; */
    /* right: 150px;
    bottom: 150px; */
}

.countBox{
    /* position: "absolute"; */
    /* right: 200px;
    top: 600px;
    width: 400px;
    height: 100px; */
}

